<% content_for :title, "New User" %>

<p> Create a new user! </p>
<p> TODO: form to enter in username and password to add new user into the database </p>
<a href="<%= url_for :controller => :users, :action => :signin %>">Sign In</a>
